<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/trt.png">
    <link rel="stylesheet" href="style.css">
    <title>TRT</title>
</head>
<body>
<header class="header">
    <img src="img/trt-logo-w.png" alt="TRT Logo" class="logo">
    <div class="user-info">
        <p><strong>Kullanıcı Adı:</strong> <span id="usernameDisplay"></span></p>
        <p><strong>Kullanıcı Kimlik No:</strong> <span id="nameDisplay"></span></p>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="#">İşlem Geçmişi</a></li>
            <li><a href="kayitistek.html">Kayıt İstek</a></li>
            <li><a href="#">Çıkış<img src="img/power-off.png" alt="Logo" class="logout-logo"></a></li></ul>
    </nav>

</header>
<div class="footer">
    <p>İletişim: 1234567890 | Email: info@trt.com</p>
</div>
</body>
</html>