body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 50px; /* Header yüksekliğine göre üstten boşluk bırakma */
}

.header {
    background-color: red;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    height: 50px; /* Örneğin logo yüksekliği */
    margin-right: 25px; /* Logo ile metin arasındaki boşluk */
}

.login-container {
    max-width: 400px;
    width: 90%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 20px; /* Boşluk bırak */
}
.register-container {
    max-width: 400px;
    width: 90%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 200px; /* İhtiyaca göre ayarla */
    height: auto;
    margin-right: 10px;
}

h2 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #eb0028;
    box-shadow: 0 0 5px rgba(235, 0, 40, 0.5);
}

input::placeholder {
    color: gray;
    font-style: italic;
    font-size: 14px;
}

.button-container {
    text-align: center; /* Butonların ortalanması */
}

button, .register-button {
    background-color: #eb0028;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 5px); /* %50 genişlik ve aralık bırakma */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

button:hover, .register-button:hover {
    background-color: #45a049;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red; /* Login container ile aynı */
    color: #333; /* Login container metin rengi ile aynı */
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc; /* Üst çizgi ekledim, opsiyonel */
    box-sizing: border-box;
}

.footer p {
    margin: 0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-upload {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-upload h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group select,
.form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5L0 0h10L5 5z' fill='%23000' fill-opacity='.54'/%3E%3C/svg%3E"), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.form-group button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    place-items: center;
}

.form-group button:hover {
    background-color: #45a049;
}

button {
    padding: 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

li a img.logout-logo {
    vertical-align: middle; /* Resmi ortalamak için */
    height: 20px; /* Resmin yüksekliğini ayarlayın */
    margin-left: 5px; /* Resim ile metin arasında boşluk bırakmak için */
}
#unit,
#unit-title,
#folder,
#username {
    width: calc(100% - 20px); /* Alanın genişliği, iç kenar boşluğu ile hesaplanıyor */
    padding: 8px;
    margin-bottom: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}
